<div class="upload-container">
  <h2>Upload KYC Documents</h2>

  <form (ngSubmit)="submit()" #kycForm="ngForm">
    <label>
      Name:
      <input type="text" [(ngModel)]="userData.name" name="name" required />
    </label>

    <label>
      Relationship Manager:
      <input type="text" [(ngModel)]="userData.rm" name="rm" required />
    </label>

    <div class="upload-wrapper">
      <label class="file-label">
        Upload Driving License Card:
        <input type="file" (change)="onImageSelected($event)" accept="image/jpeg, image/jpg, image/png" required />
      </label>

      <!-- Loader Spinner -->
      <mat-progress-spinner *ngIf="isDlUploading" diameter="24" mode="indeterminate" color="primary"
        class="icon-spinner"></mat-progress-spinner>

      <!-- View Icon -->
      <mat-icon *ngIf="showDlViewIcon" class="icon-view" color="primary" (click)="fetchDLAndOpenFile()">
        visibility
      </mat-icon>

    </div>

    <div class="upload-wrapper">
      <label class="file-label">
        Upload Aadhaar Card:
        <input type="file" (change)="onPdfSelected($event)" accept="application/pdf" required />
      </label>

      <!-- Loader Spinner -->
      <mat-progress-spinner *ngIf="isAadharUploading" diameter="24" mode="indeterminate" color="primary"
        class="icon-spinner"></mat-progress-spinner>

      <!-- View Icon -->
      <mat-icon *ngIf="showAadharViewIcon" class="icon-view" color="primary" (click)="fetchAadharOpenFile()">
        visibility
      </mat-icon>

    </div>

    <div class="upload-wrapper">
      <label class="file-label">
        Upload Optional Audio:
        <input type="file" accept="audio/*" (change)="onAudioFileSelected($event)" />
      </label>

      <!-- Loader Spinner -->
      <mat-progress-spinner *ngIf="isAudiolUploading" diameter="24" mode="indeterminate" color="primary"
        class="icon-spinner"></mat-progress-spinner>

      <!-- View Icon -->
      <mat-icon *ngIf="showAudioViewIcon" class="icon-view" color="primary" (click)="fetchAudioOpenFile()">
        visibility
      </mat-icon>

    </div>

    <div class="upload-wrapper">
      <label class="file-label">
        Upload Passport Size Photo:
        <input type="file" accept="image/jpeg" (change)="onFileChange($event)" />
        <div [innerText]="passportPhotoMsg"></div>
      </label>

      <!-- Loader Spinner -->
      <mat-progress-spinner *ngIf="isphotoUploading" diameter="24" mode="indeterminate" color="primary"
        class="icon-spinner"></mat-progress-spinner>

      <!-- View Icon -->
      <mat-icon *ngIf="showPhotoViewIcon" class="icon-view" color="primary" (click)="fetchAndOpenFile()">
        visibility
      </mat-icon>

    </div>

    <button type="submit" [disabled]="!isFormValid()" (click)="fnSubmitKYC()">Submit KYC</button>
    <button type="button" (click)="btnCancel()" class="cancelBtn">Cancel</button>

  </form>


</div>
