<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
        <div class="form-group">
            <input [(ngModel)]="username" name="username" placeholder="Username" required />
        </div>
        <div class="form-group">
    <input [(ngModel)]="password" name="password" placeholder="Password" type="password" required />
    </div>
    <button type="submit">Login</button>
    </form>
    <p *ngIf="loginFailed" style="color: red;">Invalid credentials</p>
</div>


