<div class="dashboard-container">
    <h2>Dashboard</h2>

    <div class="card">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td [class.active]="user.status === 'Active'" [class.inactive]="user.status === 'Inactive'">
              {{ user.status }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- <button (click)="logout()">Logout</button> -->