<div class="upload-container">
  <h2>Upload KYC Documents</h2>

  <form (ngSubmit)="submit()" #kycForm="ngForm">
    <label>
      Name:
      <input type="text" [(ngModel)]="form.name" name="name" required />
    </label>

    <label>
      Relationship Manager:
      <input type="text" [(ngModel)]="form.rm" name="rm" required />
    </label>

    <div class="upload-wrapper">
      <label class="file-label">
        Upload Driving License Card:
        <input type="file" (change)="onImageSelected($event)" accept="image/jpeg, image/jpg, image/png" required />
      </label>

      <!-- Loader Spinner -->
      <mat-progress-spinner *ngIf="isDlUploading" diameter="24" mode="indeterminate" color="primary"
        class="icon-spinner"></mat-progress-spinner>

      <!-- View Icon -->
      <mat-icon *ngIf="showDlViewIcon" class="icon-view" color="primary" (click)="fetchDLAndOpenFile()">
        visibility
      </mat-icon>

    </div>

    <div class="upload-wrapper">
      <label class="file-label">
        Upload Aadhaar Card:
        <input type="file" (change)="onPdfSelected($event)" accept="application/pdf" required />
      </label>

      <!-- Loader Spinner -->
      <mat-progress-spinner *ngIf="isAadharUploading" diameter="24" mode="indeterminate" color="primary"
        class="icon-spinner"></mat-progress-spinner>

      <!-- View Icon -->
      <mat-icon *ngIf="showAadharViewIcon" class="icon-view" color="primary" (click)="fetchAadharOpenFile()">
        visibility
      </mat-icon>

    </div>

    <label class="upload-label">
      Upload Video:
      <button type="button" class="upload-btn" (click)="uploadVideo()">🎥</button>

    </label>




    <button type="submit" [disabled]="!isFormValid()">Submit KYC</button>
    <button type="button" (click)="btnCancel()"  class="cancelBtn">Cancel</button>
  </form>


</div>
